# SUMMARY OF POINTS

# IMPORT LIBRARIES, PATHS

In [1]:

# data importing & processing
import os
import pandas as pd
from datetime import date

# statisctics 
from statsmodels.tsa.stattools import adfuller

# dash & ploting
import dash
from dash import dcc, html, callback, Output, Input
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objs as go

c:\Users\emanu\anaconda3\envs\hs01\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# declare paths
path_notebooks=os.path.abspath(os.path.join(os.getcwd(), os.pardir))
path_root = os.path.abspath(os.path.join(path_notebooks, os.pardir))
path_data = os.path.join(path_root, 'datafiles/datamarts', 'query002_rainfall.csv')

# BASIC STATISTICS

In [7]:
df_eda = pd.read_csv(path_data)
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_IAREA                     2192 non-null   int64
 1   NAME                         2192 non-null   object
 2   LATITUDE                     2192 non-null   float64
 3   LONGITUDE                    2192 non-null   float64
 4   COUNTRY                      2192 non-null   object
 5   id_reg_nat                   2192 non-null   int64
 6   time                         2192 non-null   object
 7   temperature_2m_mean          2192 non-null   float64
 8   precipitation_sum            2192 non-null   float64
 9   wind_speed_10m_max           2192 non-null   float64
 10  wind_direction_10m_dominant  2192 non-null   int64
 11  et0_fao_evapotranspiration   2192 non-null   float64
 12  id_area                      2192 non-null   int64
dtypes: float64(6), int64(4), object(3)
memory usage: 222.8+ KB

# BASIC PREPROCESS

In [8]:
#restrict dataframe to Algiers
df_eda_fa = df_eda.query(" COUNTRY =='ALGERIA' ")
#restrcit to cols of interest
df_eda_fa = df_eda_fa[['time','temperature_2m_mean','precipitation_sum','wind_speed_10m_max']]

# SPLIT

In [11]:
# split on data lenght 
train = df_eda_fa[:int(0.8*(len(df_eda_fa)))]
valid = df_eda_fa[int(0.2*(len(df_eda_fa))):]

In [14]:
train.head()

            time  temperature_2m_mean  precipitation_sum  wind_speed_10m_max
1096  2020-11-19                 13.9                0.0                10.0
1097  2020-11-20                 13.5                8.0                18.7
1098  2020-11-21                 14.7                1.3                22.1
1099  2020-11-22                 14.3                1.2                18.1
1100  2020-11-23                 12.9                0.0                10.8

In [12]:
# sample on date
sample_slice = df_eda_fa.loc[df_eda_fa['time'] < '2023-01-01']

In [15]:
sample_slice.head()

            time  temperature_2m_mean  precipitation_sum  wind_speed_10m_max
1096  2020-11-19                 13.9                0.0                10.0
1097  2020-11-20                 13.5                8.0                18.7
1098  2020-11-21                 14.7                1.3                22.1
1099  2020-11-22                 14.3                1.2                18.1
1100  2020-11-23                 12.9                0.0                10.8

# TRAIN